<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <title>Compte à rebours</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/countdown.css}"/>
    <script th:src="@{/js/countdown.js}"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Laisse un message</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/theball}">La balle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/countdown}">Countdown</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#"></a>
        <button class="navbar-toggler" data-target=".dual-collapse2" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0">
                    <input aria-label="Recherche" class="form-control mr-sm-2" placeholder="Rechercher" type="search"/>
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Rechercher</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="wrapContainer" style="height: 1240px;">
    <div class="container">
        <div class="balloon white">
            <div class="star-red"></div>
            <div class="face">
                <div class="eye"></div>
                <div class="mouth happy"></div>
            </div>
            <div class="triangle"></div>
            <div class="string"></div>
        </div>

        <div class="balloon red">
            <div class="star"></div>
            <div class="face">
                <div class="eye"></div>
                <div class="mouth happy"></div>
            </div>
            <div class="triangle"></div>
            <div class="string"></div>
        </div>

        <div class="balloon blue">
            <div class="star"></div>
            <div class="face">
                <div class="eye"></div>
                <div class="mouth happy"></div>
            </div>
            <div class="triangle"></div>
            <div class="string"></div>
        </div>
        <div id="timer"></div>
        <h1>Déconfinement en France</h1>
    </div>
</div>


</body>
</html>